@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    
}

/*header - css*/
header {
    background-color: #1f2937 ;
    color: white;
    padding: 10px 100px 75px 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
   
}

header a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    flex: 1;
    background: gray;
    
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    
}

#hero-title {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}
 .container p {
    font-size: 18px;
    color: #E5E7EB;
 }

.signup {
    padding: 8px;
    font-weight: bold;
    color:#E5E7EB;
    font-size: 18px;
    border: 0;
    background-color: #3882F6;
    border-radius: 5px;
    max-width: max-content;
}

/*main - css*/


    

.main-style {
    display: flex;
    flex-direction: column;
    padding: 10px 200px 0px 200px;
    align-items: center;
    height: 400px;
} 

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.illustration {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
}

.box {
    border: 5px solid #3882F6;
    height: 150px;
    flex-basis: 150px;
    border-radius: 15px;
}

main p {
    flex: 1;
}

blockquote {

    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin: 0px;
    height: 200px;
}

blockquote p {
    font-weight: 100;
    font-size: 26px;
    font-style: italic;
    color: #1f2937;
    width: 600px;
}

blockquote h3 {
    align-self: flex-end;
}

.call {
    color: white;
    padding: 10px 100px 10px 100px;
    background-color: #3882F6;
    border-radius: 12px;
    height: 100px;
    width: max-content;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.call button{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    font-weight: bold;
    color: white;
    height: max-content;
    padding: 10px;
    border-radius: 12px;
    border: 5px solid white;
    background-color: #3882F6;
}

/*footer-css*/
footer {
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 100px;
}



























a{
    text-decoration: none;
}

button:hover {
    background-color: darkblue;
}


ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
}